/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: 72px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

html, body {
  overscroll-behavior-y: none;
  overflow-x: hidden;
}

.site-title {
  @include relative-font-size(1.625);
  display: inline-block;
  font-weight: 300;
  // line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  vertical-align: top;
  margin: 16px 0 0 8px;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 72px;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    padding: 28px 20px 27px 20px;
    transition: background-color 0.5s;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      background-color: #eee;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}


/**
 * Specifics
 */

.sunken {
  max-width: 100%;
  border-bottom: 1px solid $grey-color-light;
  margin: 0 -9999rem;
  padding: $spacing-unit/2 9999rem;
  background: $sunken-blue;
  color: $sunken-text;
}

.home {
  margin-top: $spacing-unit/2
}

.dotted {
  border: 4px dotted #ddd;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit/3 0 $spacing-unit/4 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: 0;
}

.contact-list,
.social-media-list,
.contact {
  list-style: none;
  display: inline-block;
  margin-left: 0;
  margin-bottom: 10px;
  > li {
    display: inline-block;
    margin-right: $spacing-unit/2;
  }
}

.contact-button {
  background-color: #eee;
  cursor: pointer;
  position: relative;
  color: $brand-color;
  padding: 10px 14px;
  border-radius: 5px;
  border-bottom: 1px solid $grey-color-light;
  transition: background-color 0.5s;
  &:hover {
    background-color: #f6f6f6;
    color: $brand-color;
    .tooltip {
      opacity: 1;
      cursor: default;
    }
  }
  &:active {
    background-color: #dedede;
    transition: background-color 0.2s;
  }
}

.tooltip{
  position: absolute;
  background-color: rgba(200,200,200,0.5);
  border-radius: 5px;
  cursor: default;
  pointer-events: none;
  color: $text-color;
  right: 0%;
  left: 0%;
  text-align: center;
  top: -50px;
  padding: 10px 14px;
  opacity: 0;
  user-select: none;
  transition: opacity 1s;
}
.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ddd transparent transparent transparent;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */

.page-content {
  padding: 0 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.sunken-post-meta {
  font-size: $small-font-size;
  color: $sunken-grey;
}

.post-link {
  font-weight: 300;
  display: block;
  @include relative-font-size(1.3);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit/1.5;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  padding-top: $spacing-unit/1.5;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Overrides
 */

 .no-margin-top {
  margin-top: 0;
  padding-top: 0;
}

.pinkBG {
  > span { background-color: rgb(243, 149, 255); }
}