@media (min-width: $on-laptop) { // or #{$retina}
    .mini-icon {
        display: none;
    }

    .post-icon {
        display: block
    }
}

@media (max-width: $content-width) {
    .sunken {
        margin-right: -$spacing-unit;
        margin-left: -$spacing-unit;
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }
}
